{% extends "base.html" %}
{% block content %}
<div class="container">
  <form class="form-group" method="POST">

    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.ingredient.label(class="form-control-label") }}
        {{ form.ingredient(class="form-control form-control-lg ") }}
    </div>
    <div class="form-group">
        {{ form.quantity.label(class="form-control-label") }}
        {{ form.quantity(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
        {{ form.measurement.label(class="form-control-label") }}
        {{ form.measurement(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
        {{ form.enter_ingredient(class="btn btn-outline-info")}}
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>

</div>

{% endblock content %}